<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="myNavbar" id="sidebar">
        <button onclick="closeNav()"><i class="fa-solid fa-xmark"></i> Close</button>
        <div class="user_profile" style="">
            <a href="/profile?id=<%= user.user_id %>"><img src="/images/profile/<%= user.profile_picture %>" alt=""><span style="margin-left: 5px"><%= user.username %></span></a> 
        </div>
        <hr style="width: 80%; margin: auto;">
        <div class="nav-menu">
            <a href="/" class="url"><i class="fa-solid fa-house"></i> Home</a>
            <% if(user.is_admin === 1) { %>
                <a href="/transaction" class="product-management url"><i class="fa-solid fa-cart-plus"></i> New Transaction</a>
                <a href="/products" class="product-management url"><i class="fa-solid fa-bag-shopping"></i> Products</a>
                
                <a class="url" href="/sale_history"><i class="fa-solid fa-clock-rotate-left"></i> Sale History</a>
                <a class="url" href="/salespersons"><i class="fa-solid fa-users"></i> Salespersons</a>
                <a href="/customers" class="url"><i class="fa-solid fa-user-group"></i> Customers</a>
            <% } else { %> 
                <a href="/transaction" class="product-management url"><i class="fa-solid fa-cart-plus"></i> Transaction</a>
                <a class="url" href="/sale_history"><i class="fa-solid fa-clock-rotate-left"></i> Sale history</a>
            <% } %>
            <div class="link-container">
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
            </div>
        </div>
    </div>
    <button onclick="openNav()" class="open-nav-button">
        <div class="burger-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <!-- <i class="fa-solid fa-bars"></i> <span style="font-size: 15px;">Open</span> -->
    </button>

    <script>
        const navbar = document.getElementById('sidebar')
        function openNav() {
            
            navbar.style.width = '250px'
        }
    
        function closeNav() {
            
            navbar.style.width = '0'
        }

        const x = document.getElementsByClassName('url')
        
        Array.from(x).forEach(u => {
            const current_url = u.getAttribute('href')

            console.log(current_url)
            if(current_url === window.location.pathname) {
                u.classList.add('active')

            }
            else {
                u.classList.remove('active')
            }

        })
        
    </script>
</body>
</html>